@using GleamTech.AspNet.Mvc
@using GleamTech.Examples
@using GleamTech.ImageUltimate.AspNet.Mvc
@model GleamTech.ImageUltimateExamples.Mvc.CS.Models.OverviewViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Overview</title>
    <link href="@ExamplesConfiguration.GetVersionedUrl("~/resources/table.css")" rel="stylesheet" />
</head>
<body style="margin: 20px;">

    @this.RenderBody(Model.ExampleFileSelector)

    <table class="info image">
        <caption>Thumbnail</caption>
        <tr>
            <td>@this.ImageTag(Model.ImagePath, task => task.Thumbnail(160))</td>
        </tr>
    </table>

    <table class="info">
        <caption>Image Info</caption>
        @foreach (var kvp in Model.ImageData) {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
        }
    </table>

    <table class="info">
        <caption>Image EXIF Metadata</caption>
        @foreach (var kvp in Model.ImageExifMetadata) {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value.Item1</td>
            <td>@kvp.Value.Item2</td>
        </tr>
        }
    </table>

    <table class="info">
        <caption>Image IPTC Metadata</caption>
        @foreach (var kvp in Model.ImageIptcMetadata) {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value.Item1</td>
            <td>@kvp.Value.Item2</td>
        </tr>
        }
    </table>

</body>
</html>
